.t2b_hd0    {background:#555 repeat; height:15px; float:left; color:#fff;}
.t2box_h001 {padding: 5px 0 5px 20px ; width:60px; font-size:0.7em;; line-height:1.4em;text-align:center; }
.t2box_h002 {padding: 5px 0 5px 10px ; width:100px; font-size:0.7em;; line-height:1.4em;text-align:center; }
.t2box_h003 {padding: 5px 10px 5px 10px; width:460px; font-size:0.7em; line-height:1.4em;text-align:center; }

.t2b_hd1 	 {background:#fff6ea repeat; height:30px; float:left; color:#000;}
.t2b_hd1s	 {background:#ffdfbb repeat; height:30px; float:left; color:#000;}
.t2b_hd1r	 {background:#ed0f0f repeat; height:30px; float:left; color:#000;}
.t2b_hdb1	 {background:#e5fff7 repeat; height:30px; float:left; color:#000;}
.t2b_hdb1s	 {background:#bcedde repeat; height:30px; float:left; color:#000;}
.t2b_hdg1	 {background:#e6ffe5 repeat; height:30px; float:left; color:#000;}
.t2b_hdg1s	 {background:#beedbb repeat; height:30px; float:left; color:#000;}
.t2b_hdp1	 {background:#fee5ff repeat; height:30px; float:left; color:#000;}
.t2b_hdp1s	 {background:#eabbed repeat; height:30px; float:left; color:#000;}
.t2b_hds1	 {background:#dff4ff repeat; height:30px; float:left; color:#000;}
.t2b_hds1s	 {background:#96ddff repeat; height:30px; float:left; color:#000;}
.t2box_h101 {padding: 5px 0 5px 20px ; width:52px; font-size:0.8em; line-height:2.4em;font-weight:bold;}
.t2box_h102 {padding: 5px 5px 5px 10px ; width:103px; font-size:0.8em; line-height:2.4em;font-weight:bold; text-align:center;}
.t2box_h103 {padding: 5px 10px 5px 10px; width:460px; font-size:0.8em; line-height:2.4em;}

.t2b_hd2 	 {background:#fff4e4 repeat; height:40px; float:left; color:#000;}
.t2b_hd2s	 {background:#ffd8c4 repeat; height:40px; float:left; color:#000;}
.t2b_hd2r 	 {background:#ed0f0f repeat; height:40px; float:left; color:#000;}
.t2b_hdb2	 {background:#e5fff7 repeat; height:40px; float:left; color:#000;}
.t2b_hdb2s 	 {background:#bcedde repeat; height:40px; float:left; color:#000;}
.t2b_hdg2	 {background:#e6ffe5 repeat; height:40px; float:left; color:#000;}
.t2b_hdg2s 	 {background:#beedbb repeat; height:40px; float:left; color:#000;}
.t2b_hdp2	 {background:#fee5ff repeat; height:40px; float:left; color:#000;}
.t2b_hdp2s    {background:#eabbed repeat; height:40px; float:left; color:#000;}
.t2b_hds2	 {background:#dff4ff repeat; height:40px; float:left; color:#000;}
.t2b_hds2s    {background:#96ddff repeat; height:40px; float:left; color:#000;}
.t2box_h201 {padding: 10px 0 10px 20px ; width:52px; font-size:0.8em; line-height:3.0em;font-weight:bold;}
.t2box_h202 {padding: 10px 5px 10px 10px; width:103px; font-size:0.8em; line-height:3.0em;font-weight:bold;; text-align:center;}
.t2box_h203 {padding: 10px 10px 10px 10px; width:460px; font-size:0.8em; line-height:1.6em;}

.t2b_hd3 	 {background:#fff4e4 repeat; height:60px; float:left; color:#000;}
.t2b_hd3s	 {background:#ffd8c4 repeat; height:60px; float:left; color:#000;}
.t2b_hdb3	 {background:#e5fff7 repeat; height:60px; float:left; color:#000;}
.t2b_hdb3s 	 {background:#bcedde repeat; height:60px; float:left; color:#000;}
.t2b_hdg3	 {background:#e6ffe5 repeat; height:60px; float:left; color:#000;}
.t2b_hdg3s 	 {background:#beedbb repeat; height:60px; float:left; color:#000;}
.t2b_hdp3	 {background:#fee5ff repeat; height:60px; float:left; color:#000;}
.t2b_hdp3s    {background:#eabbed repeat; height:60px; float:left; color:#000;}
.t2b_hds3	 {background:#fee5ff repeat; height:60px; float:left; color:#000;}
.t2b_hds3s    {background:#96ddff repeat; height:60px; float:left; color:#000;}
.t2box_h301 {padding: 10px 0 10px 20px ; width:52px; font-size:0.8em; line-height:5.0em;font-weight:bold;}
.t2box_h302 {padding: 10px 5px 10px 10px ; width:103px; font-size:0.8em; line-height:5.0em;font-weight:bold;; text-align:center;}
.t2box_h303 {padding: 10px 10px 10px 10px; width:460px; font-size:0.8em; line-height:1.6em;}
.spc	{letter-spacing: 1em}